<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard de Produtos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>StockSys</h2>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('index') }}"><span>Dashboard</span></a></li>
            <li><a href="{{ url_for('listar_produtos') }}"><span>Produtos</span></a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.role == 'admin' %}
                    <li><a href="{{ url_for('cadastrar_usuario') }}" class="nav-link"><span>Cadastrar Usuário</span></a></li>
                    <li><a href="{{ url_for('relatorio_categorias') }}"><span>Relatórios</span></a></li>
                {% endif %}
                <li><a href="{{ url_for('cadastrar_produto') }}"><span>Cadastrar Produto</span></a></li>
                <li><a href="{{ url_for('logout') }}" style="background-color: #686666;"><span>Sair</span></a></li>
            {% endif %}
        </ul>
    </div>

    <div class="main-content">
        <header>
            <div class="user-wrapper">
                {% if current_user.is_authenticated %}
                    <span>Olá, <strong>{{ current_user.name }}</strong></span>
                {% else %}
                    <span>Modo Visitante (Acesso Limitado)</span>
                {% endif %}
            </div>
        </header>

        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>
    </div>

</body>
</html>