<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Livro</title>
    <link rel="stylesheet" href="/static/css/cadastrar_livro.css">
</head>
<body>

<div class="container">

    <h1>Cadastrar Livro</h1>

    <form method="POST">

        <input type="text" name="isbn" placeholder="ISBN" required>

        <input type="text" name="titulo" placeholder="Título" required>

        <input type="text" name="autor" placeholder="Autor" required>

        <input type="text" name="categoria" placeholder="Categoria" required>

        <input type="text" name="editora" placeholder="Editora" required>

        <input type="number" name="ano" placeholder="Ano" required>

        <input type="number" name="quantidade" placeholder="Quantidade" required>

        <button type="submit">Cadastrar</button>

    </form>

</div>

</body>
</html>