{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>Devoluções</h2>

    <input type="text" id="search-usuario" class="input" placeholder="Nome ou email...">
    <table class="table table-dark table-hover table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>Livro</th>
            <th>Data de devolução</th>
            <th>Perfil</th>
            <th>#</th>
        </tr>
        </thead>

        <tbody>
        {% if emprestimos %}
        {% for emprestimo in emprestimos %}
        <tr>
            <td>{{ emprestimo.id }}</td>
            <td>{{ emprestimo.usuario.nome }} {{ emprestimo.usuario.sobrenome }}</td>
            <td>{{ emprestimo.livro.titulo }}</td>
            {% if emprestimo.data_devolucao is not none %}
            <td>{{ emprestimo.data_devolucao.strftime('%d/%m/%Y') }}</td>
            {% endif %}
            <td>{{ emprestimo.usuario.perfil.value }}</td>
            <td><a href="/devolver/{{ emprestimo.id }}">Devolver </a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" class="text-center">
                Nenhum emprestimo pendente
            </td>
        </tr>
        {% endif %}
        </tbody>

    </table>

</div>
{% endblock %}