{% extends "base.html" %}

{% block content %}

<div class="page">

    <div class="card-emprestimo">

        <h2>📚 Novo Empréstimo</h2>

        <form method="POST" class="form-grid">

            <div class="left">

                <label>Buscar Usuário</label>
                <input type="text" id="buscaUsuario" placeholder="Nome ou email..." class="input">

                <label>Usuário</label>
                <select name="usuario" id="selectUsuario" class="input" required>
                    <option value="">Selecione</option>
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">
                            {{ usuario.nome }} {{ usuario.sobrenome }}
                        </option>
                    {% endfor %}
                </select>

            </div>

            <div class="right">

                <label>Livro</label>
                <select name="livro" class="input" required>
                    <option value="">Selecione um livro</option>
                    {% for livro in livros %}
                        <option value="{{ livro.id }}">
                            {{ livro.titulo }}
                        </option>
                    {% endfor %}
                </select>
                


            </div>

            <div class="full">
                <p> apartir do momento do emprestimo o prazo de devolução para alunos é de 7 dias e para professores 15 dias</p>
                <button type="submit">
                    Registrar Empréstimo
                </button>
            </div>

        </form>

        <a href="/menu" class="voltar">← Voltar</a>

    </div>

</div>

<script>
const input = document.getElementById("buscaUsuario");
const select = document.getElementById("selectUsuario");

input.addEventListener("input", function () {
    const filtro = input.value.toLowerCase();

    for (let option of select.options) {
        const texto = option.text.toLowerCase();
        option.style.display = texto.includes(filtro) || option.value === "" ? "" : "none";
    }
});
</script>

{% endblock %}