<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/acervo.css">
    <title>Biblioteca</title>
</head>
<body>

<h1>Acervo da Biblioteca</h1>

<a href="/cadastrar_livro">Cadastrar Livro</a>

<hr>

{% for livro in livros %}

<p>
    <strong>{{ livro.titulo }}</strong><br>
    Autor: {{ livro.autor }}<br>
    Categoria: {{ livro.categoria }}<br>
    Editora: {{ livro.editora }}<br>
    Ano: {{ livro.ano }}<br>
    Quantidade: {{ livro.quantidade }}
</p>

<a href="/editar_livro/{{ livro.id }}">
    Editar
</a>

|

<a href="/excluir_livro/{{ livro.id }}">
    Excluir
</a>

<hr>

{% endfor %}

<div class="livro">
</body>
</html>