<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BiblioTech</title>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>

<nav>
    <div class="logo">📚 BiblioTech</div>

    <div class="links">
        <a href="/acervo">Acervo</a>
        <a href="/cadastrar_livro">Cadastrar Livro</a>
        <a href="/emprestimo">Empréstimos</a>
        <a href="/painel_aluno">Aluno</a>
        <a href="/painel_professor">Professor</a>
        <a href="/relatorio">Relatórios</a>
        <a href="/login">Sair</a>
    </div>
</nav>

<div class="hero">

    <h1>📚 Bibliotech</h1>

    <p>
        Controle de livros, empréstimos, usuários e relatórios
        em um único lugar.
    </p>

</div>

<div class="cards">

    <a href="/acervo" class="card">
        <h2>📖 Acervo</h2>
        <p>Visualizar todos os livros cadastrados.</p>
    </a>

    <a href="/cadastrar_livro" class="card">
        <h2>➕ Cadastro</h2>
        <p>Adicionar novos livros ao sistema.</p>
    </a>

    <a href="/emprestimo" class="card">
        <h2>🔄 Empréstimos</h2>
        <p>Registrar empréstimos e devoluções.</p>
    </a>

    <a href="/relatorio" class="card">
        <h2>📊 Relatórios</h2>
        <p>Visualizar estatísticas da biblioteca.</p>
    </a>

</div>

</body>
</html>